backendStore:
  filepath: /mlflow/mlruns

artifactRoot: s3://mlflow-artifacts

extraEnvVars:
  AWS_ACCESS_KEY_ID: admin
  AWS_SECRET_ACCESS_KEY: minio123!
  MLFLOW_S3_ENDPOINT_URL: http://minio.minio.svc.cluster.local:9000

service:
  type: ClusterIP
  port: 5000

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
