backendStore:
  defaultSqlitePath: "/mlflow/mlflow.db"

artifactRoot:
  s3:
    enabled: true
    bucket: "mlflow-artifacts"
    awsAccessKeyId: "admin"
    awsSecretAccessKey: "minio123!"

extraEnvVars:
  MLFLOW_S3_ENDPOINT_URL: "http://minio.minio.svc.cluster.local:9000"

service:
  type: ClusterIP
  port: 5000

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi
