mode: standalone
replicas: 1

rootUser: admin
rootPassword: minio123!

buckets:
  - name: mlflow-artifacts
    policy: none
    purge: false
  - name: model-registry
    policy: none
    purge: false
  - name: datasets
    policy: none
    purge: false

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: 250m
    memory: 256Mi

service:
  type: ClusterIP
  port: 9000

consoleService:
  type: ClusterIP
  port: 9001
